In [2]:
import numpy as np
import pandas as pd

In [3]:
labelled_data = pd.read_csv("New_Labelled_data_3.csv")
labelled_data.head()

                     Label  Score
0  special leave petitions  33.66
1              appointment  43.53
2                    civil  36.01
3  special leave petitions  64.04
4              appointment  28.79

In [6]:
data = pd.read_csv("Summarized_Judgments.csv")
data.head()

,JUDGMENT,Summarized_text
0,J U D G M E N T CRIMINAL APPEAL NO. 943 ...,"Dr. ARIJIT PASAYAT, J. challenges the order pa..."
1,JUDGMENT O R D E R (arising out of SPECIAL LE...,The High Court has dismissed the same by the i...
2,JUDGMENT O R D E R TRANSFER PETITION(CRL.)NO....,"Petition filed under Section 406, Cr.P.C. by t..."
3,J U D G M E N T NON-REPORTABLE CRIMINAL APPEA...,The complainant Rajeshwari lodged a complaint ...
4,O R D E R Leave granted. Heard the counsel fo...,Karnataka Inams Abolition Laws (Amendment) Ac...

In [7]:
data_1 = data.copy()

In [9]:
data_1 = data_1.iloc[1360:1668]

In [15]:
data_1.reset_index(inplace=True)

In [11]:
labelled_data

                       Label  Score
0    special leave petitions  33.66
1                appointment  43.53
2                      civil  36.01
3    special leave petitions  64.04
4                appointment  28.79
..                       ...    ...
303  special leave petitions  31.02
304  special leave petitions  55.80
305                    civil  42.59
306  special leave petitions  24.96
307                    civil  60.98

[308 rows x 2 columns]

In [16]:
data_1['Labels'] = labelled_data['Label']
data_1['Scores'] = labelled_data['Score']

data_1.head()

,index,JUDGMENT,Summarized_text,Labels,Scores
0,1360,CRIMINAL APPELLATE JURISDICTION : Criminal Ap...,Bail was granted by the Sessions Judge after h...,special leave petitions,33.66
1,1361,J U D G M E N T Leave granted. Heard learned...,Second defendant is the appellant. Suit for pa...,appointment,43.53
2,1362,JUDGMENT O R D E R NON-REPORTABLE CIVIL APPEA...,This appeal is directed against an order dated...,civil,36.01
3,1363,O R D E R Leave granted. We have heard the le...,Notificaticn under Section 4[l] of the Land Ac...,special leave petitions,64.04
4,1364,JUDGMENT ORDER In the above petitions an appl...,The High Court has directed the Secretary to t...,appointment,28.79

In [14]:
data_1.to_csv('')